	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Map</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    
    <div class="row">
	    <div class="col-lg-3">
		    
	        <div class="panel panel-portal-green">
	            <div class="panel-heading">
	                Options
	            </div>
	            <div class="panel-body">		            
			        <div class="form-group">
						<p>Layers</p>
					    <div class="btn-group">
					        <label class="btn btn-success" ng-model="layerModel" btn-radio="0" ng-click="switchLayer(0)">Off</label>
					        <label class="btn btn-success" ng-model="layerModel" btn-radio="1" ng-click="switchLayer(1)">Risk</label>
					        <label class="btn btn-success" ng-model="layerModel" btn-radio="2" ng-click="switchLayer(2)">Evacuation</label>
					    </div>
			        </div>
			        <p>Search</p>
			        <tabset>
					    <tab heading="Date" select="setSearch(false)">
						    <div class="form-group">		    		    
							    <label>Date From</label>
					            <p class="input-group">
					              <input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="incidentParams.dateBefore" is-open="calendar.opened.before" min-date="minDate" max-date="maxDate" datepicker-options="calendar.dateOptions" ng-required="true" close-text="Close"/>
					              <span class="input-group-btn">
					                <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'before')"><i class="glyphicon glyphicon-calendar"></i></button>
					              </span>
					            </p>
						    </div>
						    
						    <div class="form-group">		    		    
								<label>Date to [must be earlier than Date From]</label>
					            <p class="input-group">
					              <input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="incidentParams.dateAfter" is-open="calendar.opened.after" min-date="minDate" max-date="maxDate" datepicker-options="calendar.dateOptions" ng-required="true" close-text="Close" />
					              <span class="input-group-btn">
					                <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'after')"><i class="glyphicon glyphicon-calendar"></i></button>
					              </span>
					            </p>
						    </div>
				           
				           	<div class="form-group">		    		    
					           	<label>Max Results</label>
					            <p>
						            <input type="number" ng-model="incidentParams.count" class="form-control">
					            </p>
				           	</div>
				        	<!--    <button type="button" class="btn btn-primary" ng-click="updateIncidents()">
								Update
							</button> -->
							
							<div class="form-group">
							    <button type="button" class="btn btn-primary" ng-click="updateIncidents()">
									Update Incidents
								</button>
							</div>
					    </tab>
					    <tab heading="Location" select="setSearch(true)">
					    	<p>Reposition and resize the circle to restrict results to a specific geographic area</p>
						    <div class="form-group">		    		    
							    <label>Date From</label>
					            <p class="input-group">
					              <input type="text" class="form-control" ng-model="incidentParams.dateBefore" is-open="opened1" max-date="maxDate" ng-required="true" close-text="Close" />
					              <span class="input-group-btn">
					                <button type="button" class="btn btn-default" ng-click="open($event,'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
					              </span>
					            </p>
						    </div>
						    
						    <div class="form-group">		    		    
								<label>Date to [must be earlier than Date From]</label>
					            <p class="input-group">
					              <input type="text" class="form-control" ng-model="incidentParams.dateAfter" is-open="opened2" max-date="maxDate" ng-required="true" close-text="Close" />
					              <span class="input-group-btn">
					                <button type="button" class="btn btn-default" ng-click="open($event,'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
					              </span>
					            </p>
						    </div>
				           
				           	<div class="form-group">		    		    
					           	<label>Max Results</label>
					            <p>
						            <input type="number" ng-model="incidentParams.count" class="form-control">
					            </p>
				           	</div>
				        	<!--    <button type="button" class="btn btn-primary" ng-click="updateIncidents()">
								Update
							</button> -->
							
							<div class="form-group">
							    <button type="button" class="btn btn-primary" ng-click="updateGeoIncidents()">
									Update Incidents
								</button>
							</div>
						</tab>
					</tabset>
				    <div class="form-group">		    		    
					    <button type="button" class="btn btn-primary" ng-click="clearMarkers()">
							Clear Incidents
						</button>
					</div>
				    <span ng-show="loading">
						    <p>Loading</p>
					    	<i class="fa fa-spinner fa-spin fa-2x"></i>
					</span>
	
			    
	            </div>
	            
	        </div>
			<!--    <pre>{{incidentParams}} - {{loading}} - {{circle}}</pre> -->
		    </div>
	    
		<div class="col-lg-9">
		    <div class="panel panel-portal-green">
	            <div class="panel-heading">
	                Map
	            </div>
	            <div class="panel-body">
					<ui-gmap-google-map class="map-large" center='map.center' zoom='map.zoom'>
					
						<ui-gmap-markers models="markers" coords="'self'" events="markersEvents" icon="'icon'">
						
				            <ui-gmap-windows show="show">
				                <div ng-non-bindable>{{title}}</div>
				            </ui-gmap-windows>
						
						</ui-gmap-markers>
							
						<ui-gmap-polygons models="map.polys" path='"geometry"' fill="map.polyFill"
						
			                         stroke="{ color: '#8C8C8C', weight: 2, opacity: '0.8' }" visible="map.visible" geodesic="true" fit="false"
			                         editable="false" events="map.polyEvents" static="true">
			
						</ui-gmap-polygons>
						
						<ui-gmap-polygons models="map2.polys" path='"geometry"' fill="map2.polyFill"
						
			                         stroke="{ color: '#8C8C8C', weight: 2, opacity: '0.8' }" visible="map2.visible" geodesic="true" fit="false"
			                         editable="false" events="map2.polyEvents" static="true">
			
						</ui-gmap-polygons>
						
						<ui-gmap-circle center="circle.center" stroke="circle.stroke" fill="circle.fill" radius="circle.radius"
		                	visible="circle.visible" geodesic="circle.geodesic" editable="circle.editable" draggable="circle.draggable"
							clickable="circle.clickable" control="circle.control" events="circle.events">
		                </ui-gmap-circle>
		
					</ui-gmap-google-map>
	            </div>
	            
		    </div>
	    </div>
		
    </div>
