<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Map</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    
    <div class="row">
	    <div class="col-lg-12">
		    <p>Layers</p>
		    <div class="btn-group">
		        <label class="btn btn-success" ng-model="layerModel" btn-radio="0" ng-click="switchLayer(0)">Off</label>
		        <label class="btn btn-success" ng-model="layerModel" btn-radio="1" ng-click="switchLayer(1)">Risk</label>
		        <label class="btn btn-success" ng-model="layerModel" btn-radio="2" ng-click="switchLayer(2)">Evacuation</label>
		    </div>
	    </div>
    </div>
    
    <div class="row">
	    <div class="col-lg-12">
		    
			<ui-gmap-google-map center='map.center' zoom='map.zoom'>
			
				<ui-gmap-markers models="markers" coords="'self'" events="markersEvents" icon="'icon'">
				
		            <ui-gmap-windows show="show">
		                <div ng-non-bindable>{{title}}</div>
		            </ui-gmap-windows>
				
				</ui-gmap-markers>
					
				<ui-gmap-polygons models="map.polys" path='"geometry"' fill="map.polyFill"
				
	                         stroke="{ color: '#8C8C8C', weight: 2, opacity: '0.8' }" visible="map.visible" geodesic="true" fit="false"
	                         editable="false" events="map.polyEvents" static="true" ng-cloak="">
	
				</ui-gmap-polygons>
				
				<ui-gmap-polygons models="map2.polys" path='"geometry"' fill="map2.polyFill"
				
	                         stroke="{ color: '#8C8C8C', weight: 2, opacity: '0.8' }" visible="map2.visible" geodesic="true" fit="false"
	                         editable="false" events="map2.polyEvents" static="true" ng-cloak="">
	
				</ui-gmap-polygons>

			</ui-gmap-google-map>

	    </div>
    </div>
    
    <!-- /.panel -->
</div>