<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Notifications</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row" ng-controller="locationCtrl">
    <div class="col-lg-4">
		<div class="panel panel-portal-green">
            <div class="panel-heading">
                Add Notification
            </div>
            <div class="panel-body">
        
				<form>
					
				  <div class="form-group">
				    <label for="notificationType">Type</label>
				    <select id="notificationType" class="form-control">
					  <option>Incident</option>
					</select>
				  </div>
				  
				  <div class="form-group">
				    <label for="notificationCountry">Country</label>
				    
					<input type="text" ng-model="selectedCountry"
				    	placeholder="Type here to look up a country name"
				    		typeahead="country as country.countryName for country in getLocation($viewValue)"
				    			typeahead-loading="loadingLocations" class="form-control">
				    			
				    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
				    
				  </div>
				  
				  <div class="form-group">
				    <label for="exampleInputEmail2">Trigger Rating</label>
				    <select ng-model="payload.trigger_rating" class="form-control">
					  <option value="1">1</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					</select>
				  </div>
		
				  <!-- <button type="submit" class="btn btn-default">Add notification</button> -->
				  
				  <button type="submit" class="btn btn-w-md btn-gap-v btn-primary" ng-click="add(selectedCountry.countryID)">Add notification</button>
		
				  
				</form>
            </div>
		</div>
        
        
    </div>

    <div class="col-lg-8">		
		<div class="panel panel-portal-green">
            <div class="panel-heading">
                Current Notifications
            </div>
            <div class="panel-body">
			   	<table class="table">
					<thead>
					    <tr>
					        <th class="text-center">Type</th>
					        <th class="text-center">Trigger Rating</th>
					        <th class="text-center">Country</th>
					        <th class="text-center">Active</th>
					        <th class="text-center">Delete</th>
					    </tr>
					</thead>
					<tbody class="text-center">
						<tr ng-repeat="entry in watchList.record">
						        <td>{{entry.type | uppercase}}</td>
						        <td>{{entry.trigger_rating}}</td>
						        <td>
							        {{entry.globalwatch_country_by_countryID.countryName}}
						        </td>
						        <td>
							        <label class="switch switch-success">
							        <input type="checkbox" ng-model="entry.active" ng-change="updateStatus(entry.id, entry.active, 'active')"><i></i></label>
						        </td>				  				        
						        <td ng-click="removeItem(entry.id,$index)">x</td>
						    </tr>
					    </tr>
					</tbody>
				</table>
            </div>
        </div>
        
    </div>
    <!-- /.col-lg-12 -->
</div>
    