<ul class="nav navbar-top-links navbar-right" ng-controller="countrySwitchCtrl">
    <!-- /.dropdown -->
	<li>
	<form class="navbar-form">
		<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
		<div class="form-group">
	    	<input type="text" ng-model="selectedCountry"
		    	placeholder="Jump to a country"
		    		typeahead="country as country.countryName for country in getLocation($viewValue)"
		    			typeahead-loading="loadingLocations" class="form-control">
		</div>
		<button type="submit" class="btn btn-default" ng-click="goToCountry(selectedCountry)">Go</button>
	</form>      
  	</li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a href="#/portal/user"><i class="fa fa-user fa-fw"></i> User Profile</a>
            </li>
           <!-- <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
            </li> -->
            <li class="divider"></li>
            <li><a ui-sref="logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>

