<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{countryData.countryName}}</h1>        
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">        
    <div class="col-lg-4">
	    
        <accordion close-others="oneAtATime">
        	<accordion-group class="threat-{{riskRating.record[0].value}}" is-open="status.isFirstOpen">
	        	<accordion-heading>
			   		Threat Level - {{riskRating.record[0].title}}
			   			<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isFirstOpen, 'glyphicon-chevron-right': !status.isFirstOpen}"></i>
			   </accordion-heading>
		   			<p>{{riskRating.record[0].body}}</p>
			</accordion-group>
        </accordion>
	    
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <accordion close-others="oneAtATime">
        	<accordion-group class="evac-{{riskRating.record[0].value}}" is-open="status.isFirstOpen">
	        	<accordion-heading>
	                Evacuation Level - {{evacRating.record[0].title}}
			   			<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isFirstOpen, 'glyphicon-chevron-right': !status.isFirstOpen}"></i>
			   	</accordion-heading>
                	<p>{{evacRating.record[0].body}}</p>
			</accordion-group>
        </accordion>
    </div>
    <!-- /.col-lg-4 -->
</div>

<div class="row">
	<div class="col-lg-12">
	    <div class="btn-group show-grid">
	        <label class="btn btn-default" ui-sref="portal.countryOverview" ng-model="radioModel" btn-radio="'Overview'" uncheckable>Overview</label>
	        <label class="btn btn-default" ui-sref="portal.countryOverview.profile" ng-model="radioModel" btn-radio="'Profile'" uncheckable>Profile</label>
	        <label class="btn btn-default" ui-sref="portal.countryOverview.map" ng-model="radioModel" btn-radio="'Map'" uncheckable>Map</label>
	    <!--    <label class="btn btn-default" ui-sref="portal.countryOverview.threat" ng-model="radioModel" btn-radio="'Threat'" uncheckable>Threat</label> -->
	        <label class="btn btn-default" ui-sref="portal.countryOverview.evacuation" ng-model="radioModel" btn-radio="'Evacuation'" uncheckable>Evacuation</label>
	        <label class="btn btn-default" ui-sref="portal.countryOverview.incidents" ng-model="radioModel" btn-radio="'Incidents'" uncheckable>Incidents</label>
	    </div>
	</div>
    <!-- /.col-lg-12 -->
</div>
    
<div ui-view class="row">
    <div class="col-lg-8">
        <div class="panel panel-portal-green">
            <div class="panel-heading">
                Political Overview
            </div>
            <div class="panel-body">
	            <div ng-bind-html="countryData.countryOverview | markdown"></div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <div class="panel panel-portal-green">
            <div class="panel-heading">
                Key Facts
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                    <!--    <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead> -->
                        <tbody>
                            <tr>
                                <td><b>Capital</b></td>
                                <td>{{countryData.countryCapital}}</td>
                            </tr>
                            <tr>
                                <td><b>GMT</b></td>
                                <td>{{countryData.countryGMT}}</td>
                            </tr>
                            <tr>
                                <td><b>Airport</b></td>
                                <td>{{countryData.countryAirport}}</td>
                            </tr>
                            <tr>
                                <td><b>Religion</b></td>
                                <td>{{countryData.countryReligon}}</td>
                            </tr>
                            <tr>
                                <td><b>Language</b></td>
                                <td>{{countryData.countryLanguage}}</td>
                            </tr>
                            <tr>
                                <td><b>Currency</b></td>
                                <td ng-bind-html="countryData.countryCurrency | markdown"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->
</div>
